/*.panel-heading {*/
    /*padding: 0 15px;*/
/*}*/

.panel-heading > i {

    vertical-align: middle !important;

}

.mdl-list__item {
    min-height: 0;
    padding: 5px;
}

.mdl-list__item .mdl-list__item-primary-content .mdl-list__item-icon {

    margin-right: 10px;

}

main .cp_embed_wrapper {
    width: 100%;
}

.working {
    width: 40%;
    margin-left: 30%;
}

#documentArea {
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}

main i {
    line-height: 20px;
}

.list-content {

    color: black;
    list-style-type: none;
    margin-bottom: 5px;

}

.list-indent {

    list-style-type: none;
    padding-left: 10px;

}

aside {

    width: 300px;
    height: 100%;
    color: #fff;
    background-color: #0c50bc;
    float: left;
    overflow: auto;
    /*padding-top: 50px;*/
    padding: 50px 0;
}

aside > div {
    width: 100%;
}

aside > div > div {

    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#startLabel {

    border-top: 1px solid #fff;

}

aside > div > div > a {

    color: #fff;
    display: block;
    width: 100%;

}

aside > div > div > a:hover {

    color: #000;

}

aside > div > div:hover {

    color: #4d4d4d;
    background-color: #A8BFE4;

}

aside > div > div > img {

    position: absolute;
    right: 20px;
    height: 20px;
    margin-top: 6px;

}

aside > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
    border-bottom: 1px solid #fff;
}

aside > div > ul > li {

    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    padding-left: 40px;
    line-height: 30px;
    color: #fff;
    background-color: #0c50bc;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

aside > div > ul > li:hover {

    background-color: #A8BFE4;
}

aside > div > ul > li:hover > a {
    color: #4d4d4d;
}

aside > div > ul > li > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

aside > div.open > div:hover {
    color: #000;
    background-color: #A8BFE4;
}

aside > div.open > div > img {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

aside > div.initLabel > ul {
    display: block;
}

aside > div.initLabel > ul >li.nowLabel {

    color: #4d4d4d;
    background-color: #A8BFE4;
    cursor: default;
}

main {

    height: 100%;
    background-color: #fff;
    text-align: justify;
    overflow: auto;
    padding: 10px 90px 100px 90px;
    font-size: 16px;
}

main > header {
    width: 100%;
    /*max-width: 1000px;*/
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: #4d4d4d;
    text-align: center;
}

main ul {
    font-size: 16px;
}

main p {
    font-size: 16px;
}

main > div {
    margin-top: 3px;
    /*max-width: 1000px;*/
    text-align: justify;
}

main > div > ul {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
    color: #0c50bc;
}

main > div > ul > li {
    width: auto;
    padding-left: 20px;
    min-height: 30px;
    line-height: 30px;
    box-sizing: border-box;
}

main > div > ul > li > span {

    color: #000;

}

main > div > ul > li > a {
    color: #0c50bc;
}

main a:hover {
    border-bottom: 1px solid #0c50bc;
    cursor: pointer;
}

main table {
    margin-top: 20px;
}

main table thead tr th p {
    font-weight: bolder;
}

main > div > ul > li > div {
    padding-left: 30px;
    color: #4d4d4d;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    table-layout: auto;
}

table td {
    word-wrap: break-word;
}

td, th {
    text-align: center;
    vertical-align: middle !important;
    word-wrap: break-word;
}

.highlight-text {
    font-family: "Consolas", serif !important;
    font-size: 15px;
    color: #E03C8A;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 0.5px;
}

.logo-img {

    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.code-snippet {

    margin-top: 10px;
    /*max-width: 900px;*/
    margin-bottom: 17px;

}

.tag-img {
    width:100%;
    /*max-width: 950px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-console {
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag-img-vertical {

    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.more-content-ul {

    margin-top: 60px;
    margin-left: 10px;
    font-size: 18px;
}

.more-content-ul > li {

    height: 40px;
    line-height: 40px;

}

.code {
    background-color: #f6f6f6;
    color: #0071bc;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    /*margin-left: 5%;*/
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}

.sub-title {
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 24px;
}

.property-title {

    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 7px;
    padding-bottom: 3px;
    border-bottom: 1.5px solid rgba(50,50,50,0.1);

}

.color-block {

    width: 20px;
    height: 20px;
    display: inline-block;

}

.live-demo {
    width: 100px;
    height: 30px;
}

.live-explanation {
    display: inline-block;
    color: #29abe2;
}

.codepen-wrapper {
    width: 100%;
}

footer {

    position: relative;
    /*bottom: 0;*/
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #333;
    text-align: center;
    clear: both;
}

#smallGuide {

    display: none;
    position: fixed;
    top: 80px;
    left: 15px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10;
    font-size: 30px;
    color: #0071bc;
    cursor: pointer;
    border-radius: 5px;
}

#smallGuide:hover {

    background-color: rgba(238, 238, 238, 0.6);
}

#hideNav {

    position: fixed;
    top: 0;
    left: -250px;
    z-index: 100;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #0340D8;
    float: left;
    overflow: auto;
}

#hideNav > #ContentLogo {

    width: 100px;
    margin: 20px 0 20px 75px;

}

#hideNav > header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#hideNav > div {

    width: 100%;
}

#hideNav > div.initLabel > ul {

    display: block;
}

#hideNav > div.open > div:hover {
    color: #000;
    background-color: #A8BFE4;
}

#hideNav > div.open > div > img {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#hideNav > div > div {

    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#hideNav > div > div > a {

    color: #fff;
    display: block;
    width: 100%;

}

#hideNav > div.initLabel > div > a:hover {

    color: #000;

}

#hideNav > div > div > a:hover {

    color: #000;

}

#startLabelS {
    border-top: 1px solid #fff;
}

#hideNav > div > div:hover {

    color: #4d4d4d;
    background-color: #A8BFE4;
}

#hideNav > div > div > img {

    position: absolute;
    right: 10px;
    height: 20px;
    margin-top: 6px;
}

#hideNav > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none;
    border-bottom: 1px solid #fff;
}

#hideNav > div > ul > li {

    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    padding-left: 20px;
    line-height: 30px;
    background-color: #0340D8;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#hideNav > div > ul > li:hover {

    background-color: #A8BFE4;
}

#hideNav > div > ul > li.nowLabel {

    color: #4d4d4d;
    background-color: #A8BFE4;
    cursor: default;
}

#hideNav > div > ul > li > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

#hideNav > div > ul > li:hover > a {
    color: #4d4d4d;
}

#hideNav > #close {

    width: 40px;
    margin-left: 105px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#curtain {

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #000;
    opacity: 0.2;
    top: 0;
    left: 0;
    display: none;

}

.style-item {
    float: left;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.style-item > div.code {
    padding: 10px;
    width: 100%;
}

.style-item > img.tag-img {
    width: 100%;
}

.img-label {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    outline: none;
    background-color:rgba(242, 242, 242, 0.5);
    color: #b3b3b3;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    width:60px;
    height:60px;
    border: 1px solid #d9d9d9;

}

#topButton .material-icons {
    font-size: 30px;
}

.ripple{
    overflow:hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.5;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    .style-item > div.code {
        font-size: 10px;
        padding: 5px 5px;
    }

    main {
        padding: 10px 40px 40px 40px;
        font-size: 15px;
    }

    main ul {
        font-size: 15px;
    }

    main ul a {
        font-size: 15px;
    }

    main p {
        font-size: 15px;
    }
}

@media (max-width: 995px) {

    aside {
        width: 250px;
    }

}

@media (max-width: 700px) {

    aside {
        display: none;
    }

    main {
        padding: 20px;
    }

    #smallGuide {
        display: block;
    }

    main > header {
        font-size: 20px;
    }

    .sub-title {

        font-size: 18px;

    }

    .property-title {
        font-size: 16px;
    }

    .code {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .tag-img {
        width: 100%;
    }

    footer {
        font-size: 14px;
    }

    .style-item {
        width: 100%;
        padding: 0 10px;
        margin-top: 0;
    }

    .style-item > div.code {
        font-size: 14px;
        padding-left: 10px;
    }

    .style-item > img.tag-img {
        margin-top: 0;
    }

    .cp_embed_wrapper {
        width: 100%;
    }

    .small-console {
        width: 100%;
        margin-left: 0;
    }

    .codepen-wrapper {
        display: none;
    }
}
