#topButton {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:rgba(242, 242, 242, 0.5);
    color: #b3b3b3;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    width:60px;
    height:60px;
}

#downloadNav {
    cursor: pointer;
}

#introduce {
    min-height: 95%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    background: linear-gradient(to top, white, #d0f9ff);

}

#introduce > div {
    padding-left: 80px;
    padding-right: 80px;
}

#imgWrapper {
    margin: 40px auto;
    height: 200px;
    width: 200px;
}

#imgWrapper > img {
    box-sizing: border-box;
    height: 100%;
}

#description {
    width: 60%;
    min-height: 100px;
    margin: auto;
}

#title {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 35px;
    font-family: DINAlternateBold, serif;
    text-align: center;
}

#mainDes {
    width: 100%;
    font-size: 120%;
    text-align: center;
    margin-bottom: 20px;
    color:#808080;
}

#description > div {
    width: 100%;
    margin-top: 30px;
}

#explanation {
    margin-top:30px;
    width: 100%;
    min-height: 200px;
    float: left;
    clear: both;
}

#explanation > div {
    width: 33%;
    height: 100%;
    float: left;
}

#explanation > div {
    cursor: pointer;
}

#explanation > div > p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #0071bc;
}


#explanation > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#mainContent > div {
    padding-top:20px;
}

.contentTitle {
    margin-top: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 35px;
    font-family: DINAlternateBold, serif;
    text-align: left;
    color: #4d4d4d;
}

hr {
    margin: 10px auto;
    /*border-style: inset;*/
    border-width: 1px;
    color:#e6e6e6;
}

#mainContent > div > p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #4d4d4d;
}

.mainContentImg {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 400px;
}

.mainContentList {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #4d4d4d;
    /*list-style: none;*/
    padding-left: 20px;
    box-sizing: border-box;
}

ul.mainContentList li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.code {
    /*width: 50%;*/
    min-height: 30px;
    color: #0071bc;
    line-height: 35px;
    border: 1px solid #0071bc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 10px;
    background-color: #e6e6e6;
    font-size: 18px;
    font-family: AmericanTypewriterRegular, serif;
    display: block;
    overflow: hidden;
}

.inline {

    display: inline-block;
    margin-top: 2px;
    margin-bottom: -5px;
}

.codeTitle {
    margin-top: 5px;
    margin-bottom: -10px;
    display: inline-block;
}

br {
    display: block;
    margin: 20px 0;
}

footer {
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #333;
    text-align: center;
    clear: both;
}

/*.fab{*/
/*border-radius: 50%;*/
/*margin:0;*/
/*padding: 20px;*/
/*}*/

/*.material{*/
/*position:relative;*/
/*color:white;*/
/*margin: 20px auto;*/
/*height:400px;*/
/*width:500px;*/
/*background:#f45673;*/
/*}*/

.ripple{
    overflow:hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.5;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

@media (max-width: 995px) {

    #imgWrapper {

        width: 100%;
        height: 240px;
        text-align: center;
    }

    #imgWrapper > img {

        float: none;
        padding: 20px;
    }

    #description {

        width: 100%;
        min-height: 100px;
    }

    #description > p {

        margin-top: 10px;
        text-align: center;
    }

    #explanation > div {
        width: 100%;
    }

    #start {
        height: 180%;
    }

    #start > div > div {
        width: 100%;
        height: 50%;
    }

    #start > div > div > header {
        text-align: center;
    }

    #download > div > div {
        width: 100%;
        margin-bottom: 20px;
    }

    #download > div > div > header {
        margin-top: -10px;
    }

    #download > div > div > img {

        width: 300px;
    }

    #download > div > div > header {
        text-align: center;
    }

    #globeWrapper {
        padding: 50px;
    }

    #explanation > div > p {
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {

    #description > div > #button1, #description > div > #button2 {
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
        float: left;
    }

    #description > div > #button3 {

        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        float: left;

    }

    #description > div > div > div {

        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 490px) {

    p, li {
        line-height: 30px;
    }

    .code {
        min-height: 20px;
        line-height: 25px;
        padding: 0 10px;
    }

    .contentTitle {
        font-size: 25px;
    }

    #description > #title {
        font-size: 25px;
    }

    #description > div > div > div {
        width: 100px;
    }

    #description > div > div > div > img {
        display: none;
    }

    #description > div > div > div > p {
        width: 100%;
        text-align: center;
    }

    .mainContentList {
        font-size: 15px;
    }

    .mainContentImg {
        height: 150px;
    }

    ul ul {
        margin-left:-30px;
    }

}
