body {
    font-family: PingFang-SC-Regular, sans-serif;
}

main > header {
    font-family:PingFang-SC-Bold, sans-serif;
}

.span_bold {
    font-family: PingFang-SC-Bold, sans-serif;
}

.sub-title {
    font-family: PingFang-SC-Bold, sans-serif;
}

.img-label-number {
    font-family: PingFang-SC-Bold, sans-serif;
}

main {
    line-height: 25px;
}