.mdl-card__title {
    padding: 0;
}

.mdl-card {
    min-height: 0;
    width: 100%;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.mdl-card:hover {
    transform: scale(1.04);
}

#downloadNav {

    cursor: pointer;
}

#introduce {

    height: 680px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 60px;
    background-color: #000;

}

#introduce > div {
    margin-top: 30px;
}

#infoArea {
    width: 60%;
    float: left;
}

#imgWrapper {

    width: 200px;
    float: left;
}

#imgWrapper > img {
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

#description {
    width: calc(100% - 200px);
    height: 200px;
    float: left;
}

#description > img {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

#iconGroup {
    width: 100%;
    float: left;
    margin-top: 10px;
    position: relative;
}

#iconGroup > div {

    width : 33%;
    float: left;
    position: relative;
}

#iconGroup > div > div > a {
    display: block;
}

#iconGroup > div > div {

    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 45px;
    line-height: 45px;
    border-radius: 22px;
    cursor: pointer;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

#iconGroup > div > div > a > img {
    float: left;
}

#iconGroup > div > div > a > p {
    width: auto;
    float: left;
    margin-top: 10px;
}

#toStart {
    background: linear-gradient(to right, #0c50bc, #299ae2);
}

#toStart > a {
    color: #CDCECF;
}

#toStart:hover {
    background: linear-gradient(to right, #0c60f8, #60c1ff);
}

#toPlayground {
    border: 1px solid #04BEFE;
    color: #6EDEFE;
}

#toPlayground > a {
    color: #04BEFE;
}

#iconGroup #toPlayground {
    line-height: 42px;
}

#toPlayground:hover {
    border-color: #6edefe;
}

#toPlayground:hover > a {
    color: #6EDEFE;
}

#toGithub {
    background-color: #bbbbbb;
}

#toGithub > a {
    color: #000;
}

#toGithub:hover {
    background-color: #f2f2f2;
}

#iconGroup > div > div > a > img {
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
}

#toStart > a > img {
    margin-right: 12px;
}

#toPlayground > a > img {
    margin-right: 10px;
}

#toGithub > a > img {
    margin-right: 20px;
}

#explanation {

    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    float: left;
    clear: both;
}

#explanation > div {

    width: 33%;
    height: 100%;
    float: left;
}

#explanation > div > p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #22BFFB;
}

#explanation > div > div {
    margin-top: 40px;
    line-height: 24px;
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 20px;
    text-align: center;
    color: #cacaca;
}

#modelArea {
    width: 40%;
    height: 80%;
    background-color: #000;
    float: left;
}

#gallery {

    width: 100%;
    background: linear-gradient(to bottom, #000, #96D3FF);

}

#gallery-background {

    width: 100%;
    height: 100%;
    background: url("../assets/img/index/galleryBackground.png") center no-repeat;

}

#gallery-shadow {

    background: rgba( 0, 0, 0, 0.1 );

}

#galleryTitle {
    color: #22BFFB;
    text-align: center;
    clear: both;
}

#galleryTitleIcon {

    width: 60px;

}

#galleryTitleMain {

    font-size: 40px;
    /*margin-top: 10px;*/
    padding-top: 30px;
    margin-bottom: 30px;

}

#galleryTitleIntro {

    font-size: 18px;

}

#galleryMore:hover {
    transform: scale(1);
}

#cardArea {

    padding: 20px 0;

}

.card-wrapper {

    width: 33%;
    box-sizing: border-box;
    padding: 20px;
    float: left;

}

.mdl-card > a {
    display: block;
}

.img33 {
    width: 100%;
}

.net-name {
    text-align: center;
    background-color: #D3ECFF;
    padding: 10px 0;
    color: #000;
}

#galleryLenet, #galleryAlexnet, #galleryYolo, #galleryVgg, #galleryResnet {

    cursor: pointer;

}

#download {

    height: 650px;
    width: 100%;
    min-height: 650px;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 18px;
    clear: both;
}

#download > div {
    height: 100%;
}

#download > div > div {
    width: 50%;
    float: left;
}

#download > div > div:first-child {
    text-align: center;
}

#download > div > div > img {
    width: 60%;
    margin-left: 10%;
    margin-top: 15%;
}

#download > div > div > header {

    height: 50px;
    line-height: 50px;
    font-size: 30px;
    margin-bottom: 20px;

}

#download > div > div > p.sub-title {

    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

#download > div > div > div.code {

    width: 100%;
    height: 35px;
    color: #0340D8;
    line-height: 35px;
    border: 1px solid #0340D8;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    background-color: #e3e3e3;
}

#download a:hover {
    border-bottom: 1px solid #0340D8;
}

footer {

    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #333;
    text-align: center;
    clear: both;
}

@media (max-width: 1199px) {

    #description > img {
        margin-top: 12%;
    }

}

@media (max-width: 1000px) {

    #introduce {
        height: 1200px;
    }

    #infoArea {
        width: 100%;
    }

    #modelArea {
        width: 80%;
        height: 42%;
        margin-left: 10%;
    }

    #imgWrapper {

        width: 200px;
        height: 240px;
        text-align: center;
    }

    #imgWrapper > img {

        float: none;
        padding: 20px;
    }

    #description {
        min-height: 200px;
    }

    #description > img {
        margin-top: 0;
        width: 70%;
        margin-left: 15%;
    }

    #download > div > div {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 30px;
    }

    #download > div > div > header {
        margin-top: -10px;
    }

    #download > div > div > img {

        margin-left: 0;
        margin-top: 5%;
        width: 300px;
    }

    #download > div > div > header {
        text-align: center;
    }

}

@media (max-width: 991px) {

    #description > img {
        margin-top: 5%;
    }

}

@media (max-width: 700px) {

    #introduce {
        height: 1300px;
    }

    #infoArea {
        width: 100%;
    }

    #imgWrapper {

        width: 100%;
        height: 200px;
    }

    #imgWrapper > img {

        width: 200px;
    }

    #description {
        width: 100%;
        min-height: 0;
        height: 160px;
    }

    #description > img {
        width: 60%;
        margin-left: 20%;
        margin-top: 0;
    }

    #modelArea {
        width: 80%;
        height: 30%;
        margin-left: 10%;
    }

    #explanation > div {
        width: 100%;
    }

    .card-wrapper {
        width: 50%;
    }

}

@media (max-width: 650px) {

    #explanation > div > div {

        font-size: 16px;
        margin-top: 10px;
        padding: 0;

    }

    footer {
        font-size: 14px;
    }

}

@media (max-width: 490px) {

    #introduce {
        height: 1350px;
    }

    #iconGroup > div > div {

        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #iconGroup > div > div > a > img {
        display: none;
    }

    #iconGroup > div > div > a > p {
        width: 100%;
        text-align: center;
    }

    #iconGroup > #button1, #iconGroup > #button2 {
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
        float: left;
    }

    #iconGroup > #button3 {

        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        float: left;

    }

    #download {
        font-size: 16px;
    }

    .card-wrapper {

        padding: 10px;

    }

    #description > img {
        width: 80%;
        margin-left: 10%;
    }

}
