aside {

    width: 200px;
    height: calc( 100% - 60px );
    background-color: #00bcd4;
    padding-top: 60px;
    float: left;
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    left: -200px;
    z-index: 10;

}

aside > div {

    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding-left: 20px;
}

aside > div > a {

    display: inline-block;
    width: 100%;
    height: 100%;

}


.now-label {

    background-color: blue;

}

main {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    background-color: #000;
    float: left;
}

#loadingPad {
    position: fixed;
    width: 100%;
    height: 100%;
    /*position: relative;*/
    background-color: #031D32;
    border: 0!important;
}

#loading {
    position: fixed;
    left: 500px;
    top: 200px;
    width: 400px;
}

#controlPanel {

    background-color: rgba( 0, 0, 200, 0.4 );
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding-top: 60px;

}

#playgroundMenu {

    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    /*background-color: red;*/
    z-index: 1;
    user-select: none;
}

#playgroundMenu > i {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

#curtain {

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    display: none;

}

#close {
    width: 40px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.panelTitle {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modelArea {
    width: calc( 100% - 300px );
    height: 100%;
    position: relative;
}