/* You can add global styles to this file, and also import other style files */
html, body, app-root, app-demo {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
	height: 100%;
}
